footer {
  background-color: $primary-color;
  color: $white;
  position: relative;
  z-index: 1;
  padding: 20px 0;
  .copyright-text {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  .footer-icons {
    display: flex;
    column-gap: 15px;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
    svg {
      font-size: 1.5rem;
    }
  }
}
