.navbar {
  .navbar-brand {
    color: $white;
  }
  .navbar-nav {
    .nav-item {
      margin: 0 20px;
      .nav-link {
        color: $white;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.15rem;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: $white;
          transition: width 0.3s;
        }
        &.active,
        &:hover {
          color: $white;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
