.navbar {
  .navbar-brand {
    color: $white;
  }
  .navbar-nav {
    align-items: center;
    .nav-item {
      margin: 0 20px;
      .nav-link {
        color: $white;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.15rem;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 3px;
          background-color: $white;
          transition: width 0.35s;
          border-radius: 10px;
        }
        &.active,
        &:hover {
          color: $white;
          &::after {
            width: 100%;
          }
        }
      }
      .fork-btn-inner {
        background-color: #934cce5e;
        border-color: #934cce5e;
        line-height: 1.4em;
        padding: 0.25rem 1.1rem;
        text-align: center;
        vertical-align: middle;
        transition: transform 0.3s;
        position: relative;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}
